.venuesCard {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 31%;
  margin-left: 10px;
  /* padding-right: 10pt; */
  /* display: inline-block; */
  border-radius: 5px; /* 5px rounded corners */
  background: rgb(66, 65, 65);
  margin-bottom: 2em;
  /* flex: 0 1 24%; */
  float: left;
  
}

.card-content { 
  padding: .5em;
}

.mrT {
  display: block;
  width: 50%;
  height: auto;
  margin: 60px auto;
  border-radius: 50%;
   -webkit-transition: -webkit-transform .8s ease-in-out;
           transition:         transform .8s ease-in-out;
 }
 
 .mrT:hover {
   -webkit-transform: rotate(720deg);
           transform: rotate(720deg);
 }
 

/* h3 {
  margin-top: 0;
  margin-bottom: .5em;
  font-weight: bold;
  color: cornsilk;
}
 */
/* p {
  font-size: 80%;
  color: white;
} */

.venueName1 {
  color: #000000b2; 
  background-color: rgba(238, 238, 5, 0.788);
  text-align: center;
  font-size: 19.1px;
  font-family: 'Comfortaa', Arial, sans-serif;
  align-items: normal;
}

.venueCity {
  color: rgba(238, 238, 5, 0.788);
  background-color: #00000060;
  padding-left: 10px;
  font-family: 'Comfortaa', Arial, sans-serif;
} 

.venueState {
  color: rgba(238, 238, 5, 0.788);
  background-color: #00000060;
  padding-left: 10px;
  font-family: 'Comfortaa', Arial, sans-serif;
}

.venueCapacity {
  color: rgba(238, 238, 5, 0.788);
  background-color: #00000060;
  padding-left: 10px;
  font-family: 'Comfortaa', Arial, sans-serif;
  font-size: 1em;
}

.addVenue--btn {
  background-color: rgb(53, 53, 53); 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 2px 1px;
  cursor: pointer;
  font-family: 'Patua One', serif;
  border-radius: 8px;
}

.addVenue--btn:hover {
  background-image: url("https://images.unsplash.com/photo-1563455586-98caa7512fa8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80");
  color: black;
  border-radius: 10%;
  border: solid 1.33pt;
  }

.venue--btn {
  background-color: rgb(53, 53, 53); 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 1px;
  cursor: pointer;
  font-family: 'Patua One', serif;
  border-radius: 8px;
}

.venue--btn:hover {
  background-image: url("https://images.unsplash.com/photo-1563455586-98caa7512fa8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80");
  color: black;
  border-radius: 10%;
  border: solid 1.33pt;
  }


.editVenue--btn {
  background-color: rgb(53, 53, 53); 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 1px 1px;
  cursor: pointer;
  font-family: 'Patua One', serif;
  border-radius: 8px;
}

.editVenue--btn:hover {
  background-image: url("https://images.unsplash.com/photo-1563455586-98caa7512fa8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80");
  color: black;
  border-radius: 10%;
  border: solid 1.33pt;
  }

.deleteVenue--btn {
  background-color: rgb(53, 53, 53); 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  margin: 4px 1px;
  cursor: pointer;
  font-family: 'Patua One', serif;
  border-radius: 8px;
}

.deleteVenue--btn:hover {
  background-image: url("https://images.unsplash.com/photo-1563455586-98caa7512fa8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80");
  color: black;
  border-radius: 10%;
  border: solid 1.33pt;
  }